<?xml version="1.0"?>
<launch>
  <arg name="frequency"                 default="100"/>
  <arg name="motor_current"             default="2000"/>
  <!--<arg name="launch_prefix"             default="nice -n -10" />-->
  <!--<arg name="launch_prefix_gdb"         default="gdb -ex run &#45;&#45;args" />-->

  <!--launch-prefix="$(arg launch_prefix)"-->
  <node name="varileg_lowlevel_controller" pkg="varileg_lowlevel_controller" type="varileg_lowlevel_controller_node"  output="screen" >
    <rosparam command="load" file="$(find varileg_lowlevel_controller)/config/config.yaml" />
    <rosparam command="load" file="$(find varileg_lowlevel_controller)/config/joint_config.yaml" />
    <param name="frequency" type="int" value="$(arg frequency)"/>
    <param name="motor_current" type="int" value="$(arg motor_current)"/>
  </node>
</launch>
